software_test.iml
.idea

v1/Cpp/.idea/

v1/Java/.idea/
v1/Java/out/

v1/Kotlin/.idea/
v1/Kotlin/out/

v1/Python/.idea/

v1/review/kotlin/.idea/
v1/review/kotlin/out/
v1/review/python/.idea/
v1/review/java/.gradle
v1/review/java/.idea
v1/review/java/out/
v1/review/java/jv.iml


v2/java/out
v2/java/.git
v2/java/.idea
v2/java/java.iml
v2/v2.iml
v2/.idea/
v2/out/